@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<name>
    Paweł Kapała<br />
    Kraków, ul. Komandosów 30/11<br />
    <abbr title="Mobile number (Poland)">Contact number</abbr>
    +48 661 492 401
</name>

<address>
    <strong>LinkedIn:</strong>   <a href="mailto:https://www.linkedin.com/in/pawel-kapala/">www.linkedin.com/in/pawel-kapala/</a><br />
    <strong>Email:</strong> <a href="mailto:pawelkapala@protonmail.com">pawelkapala@protonmail.com/</a><br />
</address>